@import "tailwindcss";

@theme {
    /* Fonts */
    --font-brand: "Montserrat", sans-serif;

    /* Text Sizes */
    --text-2xl: 40px;
    --text-2xl--line-height: 1.5;
    --text-xl: 20px;
    --text-lg: 16px;
    --text-md: 14px;

    /* Colors */
    --color-white: #ffffff;
    --color-dark: #232323;
    --color-gray: #424242;
    --color-gray-medium: #777777;
    --color-gray-light: #555555;
    --color-gray-lighter: #aaaaaa;
    --color-pink-shade: #f65261;
    --color-red-soft: #fca5a5;

    /* Color Variables */
    --color-primary: var(--color-pink-shade);
    --color-text: var(--color-white);
    --color-background: var(--color-gray-light);
    --color-content-background: var(--color-dark);
    --color-input-error: var(--color-red-soft);

    /* Spacing */
    --spacing-4xl: 80px;
    --spacing-3xl: 60px;
    --spacing-2xl: 40px;
    --spacing-xl: 20px;
    --spacing-lg: 16px;
    --spacing-md: 10px;

    /* Layout Constants */
    --container-content-width: 1200px;

    /* Component-Specific Constants */
    --spacing-header-height-collapsed: 290px;
    --spacing-header-height-expanded: 540px;
}

html {
    overflow-y: scroll;
}

body {
    @apply text-text;
    background: url("src/assets/bg-content.jpg") no-repeat fixed;
    background-size: cover;
    font-family: var(--font-brand), sans-serif;
    font-size: var(--text-xl);
}

::-webkit-scrollbar {
    background: var(--color-gray);
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-medium);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-lighter);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-primary);
}

::-webkit-scrollbar-corner {
    background: var(--color-gray);
}

.btn {
    @apply inline-flex items-center justify-center bg-primary text-text rounded cursor-pointer text-xl;
    border: none;
    font-weight: 500;
    height: 57px;
    min-width: 180px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: filter 0.3s ease;

    &:not(:disabled):hover {
        filter: brightness(0.8);
    }

    &:not(:disabled):active {
        filter: brightness(0.6);
    }

    &:focus {
        @apply ring-2 ring-primary ring-offset-2 ring-offset-background;
        outline: none;
    }

    &:disabled {
        @apply bg-gray-lighter;
        border-color: transparent;
        box-shadow: none;
        cursor: not-allowed;
        filter: grayscale(0.5);
        opacity: 0.7;
        pointer-events: none;
        transform: none;
    }
}

.btn-outline {
    @apply border-2 border-primary text-primary;
    background-color: transparent;

    &:not(:disabled):hover {
        @apply bg-primary text-text;
        filter: brightness(0.8);
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
    }

    &:not(:disabled):active {
        filter: brightness(0.6);
    }
}

.btn-add-movie {
    @apply inline-flex items-center justify-center text-primary rounded cursor-pointer text-xl;
    background-color: rgba(96, 96, 96, 0.7);
    backdrop-filter: blur(3px);
    border: none;
    font-weight: 600;
    height: 46px;
    width: 177px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(80, 80, 80, 0.8);
    }

    &:active {
        background-color: rgba(60, 60, 60, 0.85);
    }
}

.input-field {
    @apply w-full px-6 py-3 rounded-md
        border-transparent
        bg-gray text-text
        placeholder:opacity-50
        shadow-[inset_0_2px_4px_rgba(0,0,0,0.5)]
        focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent
        transition-all duration-300;
    height: 57px;
}

.input-field.input-error {
    @apply border-solid border-2 !border-input-error;
}

.input-transparent-shadow-glow {
    @apply bg-transparent shadow-[inset_0_0_15px_theme(colors.primary),inset_0_0_3px_theme(colors.primary)];
}

input[type="date"].input-field {
    position: relative;
    color-scheme: dark;
    padding-right: 2.5rem;
}

input[type="date"].input-field::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"].input-field:required:invalid,
input[type="date"].input-field:placeholder-shown {
    color: rgba(255, 255, 255, 0.3);
}

input[type="date"].input-field:valid {
    @apply text-text;
}

.error-message {
    @apply text-input-error text-base mt-1.5;
}

.form-checkbox {
    @apply relative appearance-none w-4 h-4
        border-2 border-gray-lighter rounded-sm
        bg-background
        checked:bg-primary
        checked:border-transparent
        focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-primary
        cursor-pointer;
}

.form-checkbox:checked::after {
    @apply block w-1.5 h-3
        border-solid border-white border-r-[3px] border-b-[3px]
        transform rotate-45 translate-x-[3px] translate-y-[0px];
    content: "";
}

.form-label {
    @apply block mb-2
        uppercase text-primary opacity-80
        font-semibold tracking-wide;
}
